absl-py==1.4.0
accessible-pygments==0.0.4
ackermann-msgs==2.0.2
action-msgs==1.2.1
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.2.4
aiofiles==22.1.0
aiosqlite==0.18.0
alabaster==0.7.13
ament-cmake-test==1.3.11
ament-copyright==0.12.11
ament-cppcheck==0.12.11
ament-cpplint==0.12.11
ament-flake8==0.12.11
ament-index-python==1.4.0
ament-lint==0.12.11
ament-lint-cmake==0.12.11
ament-package==0.14.0
ament-pep257==0.12.11
ament-uncrustify==0.12.11
ament-xmllint==0.12.11
angles==1.15.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.0
bleach==6.0.0
bond==3.0.2
builtin-interfaces==1.2.1
cachetools==5.3.1
cartographer-ros-msgs==2.0.9002
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comm==0.1.3
composition-interfaces==1.2.1
contourpy==1.0.7
control-msgs==4.7.0
controller-manager==2.47.0
controller-manager-msgs==2.47.0
cv-bridge==3.2.1
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
demo-nodes-py==0.20.5
diagnostic-msgs==4.2.4
diagnostic-updater==4.0.0
docutils==0.18.1
domain-coordinator==0.10.0
dwb-msgs==1.1.17
example-interfaces==0.9.3
examples-rclpy-executors==0.15.3
examples-rclpy-minimal-action-client==0.15.3
examples-rclpy-minimal-action-server==0.15.3
examples-rclpy-minimal-client==0.15.3
examples-rclpy-minimal-publisher==0.15.3
examples-rclpy-minimal-service==0.15.3
examples-rclpy-minimal-subscriber==0.15.3
executing==1.2.0
fastjsonschema==2.16.3
ffmpeg==1.4
flatbuffers==25.1.24
fonttools==4.39.3
fqdn==1.5.1
gast==0.4.0
gazebo-model-attachment-plugin==1.0.3
gazebo-model-attachment-plugin-msgs==1.0.3
gazebo-msgs==3.7.0
gazebo-video-monitor-interfaces==0.8.1
gazebo-video-monitor-utils==0.8.1
generate-parameter-library-py==0.4.0
geometry-msgs==4.2.4
ghp-import==2.1.0
google-auth==2.19.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.54.2
h5py==3.12.1
idna==3.4
image-geometry==3.2.1
imagesize==1.4.1
importlib-metadata==6.1.0
interactive-markers==2.3.2
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils==0.2.0
isoduration==20.11.0
jax==0.4.12
jedi==0.18.2
Jinja2==3.1.2
joblib==1.4.2
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-book==0.15.1
jupyter-cache==0.5.0
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-ydoc==0.2.3
jupyter_client==8.1.0
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.3.0
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.5.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.3
jupyterlab-pygments==0.2.2
jupyterlab_server==2.22.0
keras==3.8.0
kiwisolver==1.4.4
# Editable install with no version control (lab2==0.0.0)
-e /home/stanbaek/master_ws/build/lab2
lab4-interfaces==0.0.0
laser-geometry==2.4.0
latexcodec==2.0.1
launch==1.0.7
launch-ros==0.19.8
launch-testing==1.0.7
launch-testing-ros==0.19.8
launch-xml==1.0.7
launch-yaml==1.0.7
libclang==16.0.0
lifecycle-msgs==1.2.1
linkify-it-py==2.0.0
logging-demo==0.20.5
lxml==5.3.0
map-msgs==2.1.0
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.5
mdurl==0.1.2
message-filters==4.3.5
mistune==2.0.5
ml-dtypes==0.4.1
myst-nb==0.17.1
myst-parser==0.18.1
namex==0.0.8
nav-2d-msgs==1.1.17
nav-msgs==4.2.4
nav2-common==1.1.17
nav2-msgs==1.1.17
nav2-simple-commander==1.0.0
nbclassic==0.5.5
nbclient==0.5.13
nbconvert==7.3.0
nbformat==5.8.0
nest-asyncio==1.5.6
notebook==6.5.3
notebook_shim==0.2.2
numpy==1.26.4
oauthlib==3.2.2
opt-einsum==3.3.0
optree==0.14.0
osrf-pycommon==2.1.4
packaging==23.0
panda==0.3.1
pandas==2.1.3
pandocfilters==1.5.0
parso==0.8.3
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.2.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.23.2
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybtex==0.24.0
pybtex-docutils==1.0.2
pycparser==2.21
pydata-sphinx-theme==0.13.3
Pygments==2.14.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.7
python-qt-binding==1.1.2
pytz==2024.2
PyYAML==6.0
pyzmq==25.0.2
qt-dotgraph==2.2.3
qt-gui==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
quality-of-service-demo-py==0.20.5
rcl-interfaces==1.2.1
rclpy==3.3.15
rcutils==5.1.6
requests==2.28.2
requests-oauthlib==1.3.1
resource-retriever==3.1.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rmw-dds-common==1.6.0
ros2action==0.18.11
ros2bag==0.15.13
ros2cli==0.18.11
ros2component==0.18.11
ros2controlcli==2.47.0
ros2doctor==0.18.11
ros2interface==0.18.11
ros2launch==0.19.8
ros2lifecycle==0.18.11
ros2multicast==0.18.11
ros2node==0.18.11
ros2param==0.18.11
ros2pkg==0.18.11
ros2run==0.18.11
ros2service==0.18.11
ros2topic==0.18.11
rosbag2-interfaces==0.15.13
rosbag2-py==0.15.13
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.6
rosidl-cli==3.1.6
rosidl-cmake==3.1.6
rosidl-generator-c==3.1.6
rosidl-generator-cpp==3.1.6
rosidl-generator-py==0.14.4
rosidl-parser==3.1.6
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.6
rosidl-typesupport-introspection-cpp==3.1.6
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa==4.9
scikit-learn==1.5.2
scipy==1.10.1
scripts==3.7.0
seaborn==0.13.2
Send2Trash==1.8.0
sensor-msgs==4.2.4
sensor-msgs-py==4.2.4
shape-msgs==4.2.4
six==1.16.0
slam-toolbox==2.6.9
smclib==3.0.2
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4
Sphinx==5.0.2
sphinx-book-theme==1.0.1
sphinx-comments==0.0.3
sphinx-copybutton==0.5.1
sphinx-jupyterbook-latex==0.5.2
sphinx-multitoc-numbering==0.1.3
sphinx-thebe==0.2.1
sphinx-togglebutton==0.3.2
sphinx_design==0.3.0
sphinx_external_toc==0.3.1
sphinx_inline_tabs==2022.1.2b11
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.47
sros2==0.10.5
stack-data==0.6.2
statistics-msgs==1.2.1
std-msgs==4.2.4
std-srvs==4.2.4
stereo-msgs==4.2.4
tabulate==0.9.0
teleop-twist-keyboard==2.4.0
tensorboard==2.18.0
tensorboard-data-server==0.7.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.3.0
terminado==0.17.1
tf2-geometry-msgs==0.25.11
tf2-kdl==0.25.11
tf2-msgs==0.25.11
tf2-py==0.25.11
tf2-ros-py==0.25.11
tf2-tools==0.25.11
threadpoolctl==3.5.0
tinycss2==1.2.1
tomli==2.0.1
topic-monitor==0.20.5
tornado==6.2
traitlets==5.9.0
trajectory-msgs==4.2.4
turtlebot3-example==2.1.5
turtlebot3-msgs==2.2.3
turtlebot3-teleop==2.1.5
turtlesim==1.4.2
typing_extensions==4.5.0
tzdata==2023.3
uc-micro-py==1.0.1
unique-identifier-msgs==2.2.1
uri-template==1.2.0
urllib3==1.26.15
visualization-msgs==4.2.4
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.3.6
wrapt==1.14.1
xacro==2.0.8
y-py==0.5.9
ypy-websocket==0.8.2
zipp==3.15.0
